<div class="form_div">
  <h1>Log In</h1>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
  <div id="user_header">
    <% if logged_in? %>
       <%= link_to( t("layout.login"), new_session_path, method: :delete) %>
    <% else %>
       <%= link_to "Sign Up", new_user_path %> |
       <%= link_to "(forgot password)", new_password_reset_path %>
    <% end %>
  </div>
</div>
