<p id="notice"><%= notice %></p>

<h1 class="object_title">Comments</h1>

<table class="table table-responsive table-hover table-bordered sub_data">
  <tr>
    <th>User</th>
    <th>Task</th>
    <th>Content</th>
    <th colspan="3"></th>
  </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.user_id %></td>
      <td><%= comment.task_id %></td>
      <td><%= comment.content.truncate(20) %></td>
      <td><%= link_to "Show", comment %></td>
      <td><%= link_to "Edit", edit_comment_path(comment) %></td>
      <td><%= link_to "Destroy", comment, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>

<div class="bottom_link">
  <%= link_to "New Comment", new_comment_path %>
</div>
