<div class="show_div">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>User:</strong>
    <%= @comment.user_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= @comment.task_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @comment.content %>
  </p>

  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Back", comments_path %>
</div>
