<h1 class="object_title">Statuses</h1>

<table class="table table-responsive table-hover table-bordered sub_data">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= link_to "Show", status %></td>
        <td><%= link_to "Edit", edit_status_path(status) %></td>
        <td><%= link_to "Destroy", status, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
</table>

<div class="bottom_link" >
  <%= link_to "New Status", new_status_path %>
</div>
