<div class="show_div">
  <p>
    <strong>Name:</strong>
    <%= @status.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @status.description %>
  </p>

  <%= link_to "Edit", edit_status_path(@status) %> |
  <%= link_to "Back", statuses_path %>
</div>
