<h1 class="object_title">Editing Vertical</h1>

<%= render "form", vertical: @vertical %>

<div class="bottom_link">
  <%= link_to "Show", @vertical %> |
  <%= link_to "Back", verticals_path %>
</div>
