<h1 class="object_title">Verticals</h1>

<table class="table table-responsive table-hover table-bordered sub_data">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
    <% @verticals.each do |vertical| %>
      <tr>
        <td><%= vertical.name %></td>
        <td><%= vertical.description %></td>
        <td><%= link_to "Show", vertical %></td>
        <td><%= link_to "Edit", edit_vertical_path(vertical) %></td>
        <td><%= link_to "Destroy", vertical, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
</table>

<div class="bottom_link">
  <%= link_to "New Vertical", new_vertical_path %>
</div>
