<h1 class="object_title">Editing Request Type</h1>

<%= render "form", request_type: @request_type %>

<div class="bottom_link">
  <%= link_to "Show", @request_type %> |
  <%= link_to "Back", request_types_path %>
</div>
