<h1 class="object_title">Request Types</h1>

<table class="table table-responsive table-hover table-bordered sub_data">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  <% @request_types.each do |request_type| %>
    <tr>
      <td><%= request_type.name %></td>
      <td><%= request_type.description %></td>
      <td><%= link_to "Show", request_type %></td>
      <td><%= link_to "Edit", edit_request_type_path(request_type) %></td>
      <td><%= link_to "Destroy", request_type, method: :delete, data: { confirm: t(:confirm) } %></td>
    </tr>
  <% end %>
</table>

<div class="bottom_link">
  <%= link_to "New Request Type", new_request_type_path %>
</div>
