<div class="show_div">
  <p>
    <strong>Name:</strong>
    <%= @request_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @request_type.description %>
  </p>

  <%= link_to "Edit", edit_request_type_path(@request_type) %> |
  <%= link_to "Back", request_types_path %>
</div>
