<h1 class="object_title">Users Index</h1>
<%= form_tag("/users", method: "get") do %>
  <table class="search_table">
      <tr>
        <td><%= label_tag :first_name %></td>
        <td><%= text_field_tag :first_name, params[:first_name] %></td>
        <td><%= label_tag :last_name %></td>
        <td><%= text_field_tag :last_name, params[:last_name] %></td>
      </tr>
      <tr>
        <td><%= label_tag :email %></td>
        <td><%= text_field_tag :email, params[:email] %></td>
        <td><%= label_tag :role %></td>
        <td><%= select_tag :role,
                options_from_collection_for_select( Role.all,
                                                    :id,
                                                    :name,
                                                    params[:role]),
                                                    { class:"dropdown_search",
                                                      multiple: false, prompt:"---"} %>
          </td>
      </tr>
      <tr>
        <td><%= label_tag :sort_by %></td>
        <td><%= select_tag :order_by,
                            options_for_select( [
                            ["Newest","created_at DESC"],
                            ["Oldest","created_at ASC"],
                            ],params[:order_by]),
                            style:"width:100%;" %></td>
        <td colspan="2" style="text-align:right;"><%= submit_tag "Search", class:"btn btn-primary", tabindex:"10" %></td>
      </tr>
    </table>
  <% end %>
<div class="pagination_details">
  <%= page_entries_info @users %>
</div>
<table class="table table-responsive table-hover table-bordered" style="width:60%;">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Role</th>
    <th colspan="4"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td valign="top">
        <% unless user.avatar_identifier.blank? %>
          <%= image_tag(user.avatar.small_url) %>
        <% else %>
          <%= image_tag(User::NO_AVATAR_THUMB) %>
        <% end %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.role ? user.role.name : t(:no_role) %></td>
      <% if can? :show, user %>
        <td><%= link_to "Show", user_path(user) %></td>
      <% end %>
      <% if can? :update, user %>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
      <% end %>
      <% if can? :update, user %>
        <td><%= link_to "Destroy", user, method: :delete, data: { confirm: t(:confirm) } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="digg_pagination user_pagination" >
  <%= will_paginate @users, container: false, previous_label: t(:previous), next_label: t(:next) %>
</div>
