<div class="show_div">
  <% unless @user.avatar_identifier.blank? %>
    <%= image_tag(@user.avatar.medium_url) %>
  <% else %>
    <%= image_tag("no_avatar_image_thumb.jpg") %>
  <% end %>
  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role ? @user.role.name  : "" %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= @user.id %>
  </p>

  <% if can? :update, :user %>
      <%= link_to "Edit", edit_user_path(@user.id) %>
  <% end %>
</div>
