<h1 class="object_title">Editing Priority</h1>

<%= render "form", priority: @priority %>

<div class="bottom_link">
  <%= link_to "Show", @priority %> |
  <%= link_to "Back", priorities_path %>
</div>
