<h1 class="object_title">Priorities</h1>

<table class="table table-responsive table-hover table-bordered sub_data">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  <% @priorities.each do |priority| %>
    <tr>
      <td><%= priority.name %></td>
      <td><%= priority.description %></td>
      <td><%= link_to "Show", priority %></td>
      <td><%= link_to "Edit", edit_priority_path(priority) %></td>
      <td><%= link_to "Destroy", priority, method: :delete, data: { confirm: t(:confirm) } %></td>
    </tr>
  <% end %>
</table>

<div class="bottom_link">
  <%= link_to "New Priority", new_priority_path %>
</div>
