.thumb_image_container{
  display: inline-grid;
  height: 50px;
  width: 50px;
  overflow: hidden

}
.thumb_image{
  height: 50px;
}

.dropdown_search {
  width: 100%;
  display:block;
}

.task_search_form {
  margin-top: 5px;
}


$link_color: black;
$Link_color_hover: white;

.task_index_link{
  &:link {
    font-weight: bolder !important;
    color: $link_color;
    text-decoration: none !important;
  }
  &:link:hover {
    color: $Link_color_hover;
    text-decoration: none !important;
  }

  &:hover {
    color: $Link_color_hover;
    text-decoration: none;
    background-color: inherit;
  }
  &:visited:hover{
    color: $Link_color_hover;
    text-decoration: none;
    background-color: inherit;
  }
  &:visited {
    font-weight: bolder !important;
    color: $link_color;
    text-decoration: none;
    background-color: inherit;
  }
}

.search_table td{
padding:5px;
}

.task_show_comments_table {
  table{

  background-color: #f2f4f7;
  border: 1px solid;
  padding: 5px;}
    th, td{

     background-color: white;
     padding: 5px;
   }
 }

.commentor_name{
  font-weight: bold;
  font-size: 20px
}

.text_block{
  max-width:500px;
  background-color:white;
  word-wrap:break-word;
  padding:10px;
  font-weight:bold;
}

.attachment_image{
  height:50px;
  display:inline-grid;
}

hr.comments_hr{
  width: 100%;
  color: black;
  height: 1px;
  background-color:black;
}

.comment_text_block{
  width:435px;
  word-wrap:break-word;
  padding-right:5px;
}

.comment_edit_block{
  width:400px;
  word-wrap:break-word;
  min-height:10px;
}

.avatar_thumb{
  height:50px;
}

.comment_form_text{
  padding:10px;
}

.image_delete_button{
  margin-top:5px;
}

$bootstrap_blue:  black;//#337ab7;
$background-color: #f2f4f7;
$font-stack:    Helvetica, sans-serif;
$primary-color: white;
.digg_pagination {
  text-align:center;
  width:48%;
  margin:0px auto 20px !important;
  background-color:none;
  font-weight: bolder;
  cursor: default;
  margin: 0 auto;
}
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bolder;
    background: $bootstrap_blue;
    color: white;
    border: 1px solid $bootstrap_blue; }
  .digg_pagination a {
    text-decoration: none;
    color: black;
    border: 1px solid black; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: white;
      background: $bootstrap_blue;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: $bootstrap_blue;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: $bootstrap_blue;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.pagination_details{
  text-align:center;
  width:31%;
  margin:0 auto 5px;
  background-color:none;
}
